@model IEnumerable<Transaction>
@{
    ViewData["Title"] = "ShowTransactionData";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">TransactionId</th>
                    <th scope="col">FromAccountId</th>
                    <th scope="col">ToAccountId</th>
                    <th scope="col">Amount</th>
                    <th scope="col">TransactionDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transactionData in Model)
                {
                    <tr>
                        <th>@transactionData.TransactionId</th>
                        <td>@transactionData.FromAccountId</td>
                        <td>@transactionData.ToAccountId</td>
                        <td>@transactionData.Amount</td>
                        <td>@transactionData.TransactionDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

